<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrapEHA6dPxsPO5TFkcxox02YLULktYHM</string>
	<key>GCM_SENDER_ID</key>
	<string>591328934700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week2</string>
	<key>PROJECT_ID</key>
	<string>flutterdevmob3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdevmob3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591328934700:ios:4bdeb3ac89b86d37fb0a89</string>
</dict>
</plist>